@import "tailwindcss";

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 964px;
  --breakpoint-desktop: 1200px;
}


.active{
  @apply border-b-2 border-blue-600;
}

.unactive{
  @apply border-b-2 border-transparent;
}

li{
  text-decoration: none;
}
